################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ELEC3225 Degree Audit Project/FileContentIndex/read.lock
